@tailwind base;
@tailwind components;
@tailwind utilities;

/* .react-select__menu {
    z-index: 100000;
} */

.react-select__input:focus {
    box-shadow: none !important;
}

.react-select__value-container {
    cursor: text !important;
}

.react-select__option {
    cursor: pointer !important;
}

.react-select__indicator {
    cursor: pointer !important;
}

.react-select__control--is-focused {
    box-shadow: none !important;
}

.product-item:hover .product-item-pic .product-hover {
    right: 1.25rem !important;
    opacity: 1 !important;
}

.product-item:hover .product-item-text h6 {
    opacity: 0 !important;
}

.add-cart {
    visibility: hidden;
}

.product-item:hover .product-item-text button {
    cursor: pointer !important;
    opacity: 1 !important;
    top: 1.5rem;
    visibility: visible !important;
}

.cart:hover span {
    background-color: rgb(224, 36, 36);
}
